/* Estilo base do corpo e layout geral */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #ffffff; 
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto; /* Centraliza o container na página */
    padding: 0 20px;
}


/* Estilo do Cabeçalho */

header {
    background-color: #ffffff;
    padding: 10px 40px;
    border-bottom: 1px solid #ddd;

}

.header_container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo_header {
    margin-left: 10px;
    height: 50px
}

 nav {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

nav ul {
    list-style: none;
    display: flex;
    gap: 25px;
    margin-top: -30px;
    padding: 0;
}

 nav a {
    color: #003478; 
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
}

 nav a:hover {
    text-decoration: underline;
}

/* Estilo do Main */

main {
    flex: 1;
    padding: 0;
    margin-top: 20px;
}

.container_main {
    text-align: center;
    width: 100%;
    margin: 0 auto;
}

.container_main img {
    width: 100%;
    max-height: 450px;
    max-width: 1080px;
    height: auto;
    object-fit: cover;
    border-radius: 0;
    margin-bottom: 10px;
}

.container_main img:hover {
    transform: scale(1.02);
}

.descricao {
    margin-top: 15px;
    font-size: 18px
}